*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/deploymentTargetDropDown.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*~
/app/hs_err_pid6659.log
/app/hs_err_pid6769.log
/.idea/inspectionProfiles/Project_Default.xml
