:root {
    --background: #ebf4fa;
    --passive: #51a4d2;
    --active: #a4cbe2;
    --light: #ebf4fa;
    --neutral: #cbd4da;
    --gray: #d0d0d0;
    --red: #e85132;
    --lightGreen: #bddb88;
}

  html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: medium;
  }
  table {
    border-spacing: 0px;
  }
  button {
    border-radius: 5px;
  }
  .active {
    background-color: var(--active);
  }
  .passive {
    background-color: var(--passive);
  }
  .neutral {
    background-color: var(--neutral);
  }
  .light {
    background-color: var(--light);
  }
  .gray {
    background-color: var(--gray);
  }
  .flat {
    border: none;
    font-size: small;
    user-select: none;
    height: 100%;
  }
  .flat:focus {
    outline: none;
  }
  .flat:active {
    color: red;
  }
  .w100 {
    width: 100%;
  }
  .buttontext {
    font-size: small;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    padding: 3px;
  }
.item {
    border: none;
    text-align: left;
    vertical-align: top;
    height: 4em;
    font-size: medium;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: medium;
  resize: none;
  width: 100%;
}

.menu-overlay {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #fff;
  padding: 0.5em;
  z-index: 1001; /* high z-index */
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0,0,0,0.9);
}

.qr-overlay {
  display: none;
  background: #fff;
  padding: 0.5em;
  width: calc(80% - 16px);
  position: fixed;
  top: 10%;
  left: 10%;
  cursor: default;
  z-index: 10001;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0,0,0,0.9);
  overflow-wrap: break-word;
}

.overlay-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 1000; /* high z-index */
  background: rgba(1,1,1,0.3);
}

.overlay-trans {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 1000; /* high z-index */
  background: trans;
}

.float_button {
  position: absolute;
    top: calc(100% - 110pt);
    left: calc(100% - 50pt);
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 999; /* high z-index */
    background: #000; /* fallback */
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 50%;
    font-size: xx-large;
    line-height: 36pt;
    font-family: HelveticaNeue-Light;
  box-shadow: 0 0 30px rgba(0,0,0,0.7);
}

.chat_item_button {
  border: none;
  text-align: left;
  vertical-align: top;
  height: 3em;
  font-size: medium;
  border-radius: 4pt;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
}

.contact_picture {
  height: 3em;
  width: 3em;
  border: none;
  border-radius: 50%;
  background: transparent;
  font-size: medium;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
}

.contact_item_button {
  border: none;
  text-align: left;
  vertical-align: top;
  width: calc(100%-10em);
  height: 3em;
  font-size: medium;
  border-radius: 4pt;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
  text-overflow: ellipis;
  overflow: hidden;
  display: inline-block;
}

.menu_item_button {
  border: none;
  text-align: left;
  vertical-align: top;
  height: 3em;
  width: 100%;
  font-size: medium;
  background-color: white;
}

.settings {
  height: 2em;
  padding: 6px;
  background: rgba(255,255,255,0.75);
  display: flex;
  justify-content: space-between;
}

.settingsText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  margin-top: 6px;
  font-weight: 500;
}

/* --------------------------------------------------------------------------- */

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* --------------------------------------------------------------------------- */
/* https://www.w3schools.com/howto/howto_css_switch.asp */

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--active);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--passive);
}

input:focus + .slider {
  /* box-shadow: 0 0 1px #2196F3; */
  box-shadow: transparent;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}